@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container,
.header-hero-container {
  display: flex;
  flex-direction: column;
}

.header,
.right-links {
  display: flex;
  justify-content: space-between;
}
/* .header,
.hero {
  width: 1300px;
} */

.logo,
.hero-main-text {
  color: #f9faf8;
}

.links,
.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.container {
  height: 100vh;
}
.header-hero-container {
  background-color: #1f2937;

  padding: 16px 200px;
  gap: 120px;
  padding-bottom: 90px;
}

.logo {
  font-size: 24px;
}
.right-links {
  list-style: none;
  gap: 24px;
}
.links {
  text-decoration: none;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 50px;
  gap: 42px;
}
.hero-content {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;

  height: 250px;
  gap: 6px;
}
.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  width: 400px;
}
.hero-secondary-text {
  width: 420px;
}
.signUp-button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 6px 28px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  height: 37px;
}
.hero-image {
  width: auto;
  height: 333px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  gap: 50px;
  padding: 40px 0 100px 0;
}
.content-title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
.info-container {
  display: flex;
  gap: 50px;
}
.info {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 8px;
  text-align: center;
}
.content-image {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

.qoute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding: 100px 0;
}

.qoute-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  width: 800px;
}
.qoute-author {
  width: 800px;
  font-weight: 900;
  margin-left: auto;
  font-size: 18px;
}

.advertisement-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 200px;
}

.advertisement {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3882f6;
  padding: 50px 140px;
  border-radius: 8px;
  gap: 160px;
}

.advertisement-header {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}
.advertisement-text {
  font-size: 18px;
  color: #e5e7eb;
}

.advertisement .signUp-button {
  border: 2px solid #f9faf8;
}
.footer {
  font-size: 18px;
  background-color: #1f2937;
  color: #e5e7eb;

  text-align: center;
  padding: 42px 0;
}
